<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <title>Home page</title>
</head>



<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/get-create-user">Create User</a>
    </div>
    <div class="table-container">

        <h3 class="table-title">List user: </h3>
        <hr />
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>

            <% users.forEach(function(user, index) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <button class="table-button a">
                            <a class="table-a" href="/get-update-user/<%= user.id %>">Update</a>
                        </button>
                        <button class="table-button b">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>

</body>

</html>